{% from "../postItem.njk" import postItem %}
{% extends 'layouts/base.njk' %}

{% block content %}
  <main>
    {% include "header.njk" %}
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {% if showPosts %}
      {% set postList = collections.posts %}
      {% if collections.posts.length %}
        <section>
          <ol reversed>
            {% for item in postList %}
              {% if not loop.first %}
                <hr/>
              {% endif %}
              {{ postItem(item.url, item.data.title, item.date) }}
            {% endfor %}
          </ol>
        </section>
      {% endif %}
    {% endif %}

    {{ content | safe }}
  </main>
{% endblock %}
