{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{% block head %}
  {% if config.syntaxTheme %}
    <link rel="preload" as="style" href="/assets/css/{{ config.syntaxTheme }}"/>
    <link rel="stylesheet" href="/assets/css/{{ config.syntaxTheme }}"/>
  {% endif %}
{% endblock %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]"></p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% if date %}
      <time datetime="{{ date | htmlDate }}" class="dt-published">{{ date | dateFilter }}</time>
    {% endif %}
    <article class="[ post ] [ h-entry ]">
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center ]">
              <h2 class="font-base text-600 weight-mid">Filed under</h2>
              <ul class="[ nav__list ] [ box-flex align-center pad-left-400 ] [ p-category ]">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
