html {
	font-family: system-ui;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 0 32px;
}

.Container {
	max-width: 50ch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding-left: 0;
}
