{% if postList.length %}
  <section>
    <ol reversed>
      {% for item in postList %}
        <hr/>
        <li>
          <h3>
            <a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
          </h3>
          <time datetime="{{ item.date | htmlDate }}">{{ item.date | dateFilter }}</time>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endif %}
