---
layout: page
title: About
---

<p>Current location: Vancouver, BC; dreaming of Squamish.</p>
<p>I am quite serious about my indlugences in climbing, photography, digital marketing and web analytics.</p>
<p>This blog will mostly have essays on my climbing adventures and outdoor experiences in general, with frequent effusions on veganism, minimalism and sustainable living.</p>
<p>I am also an avid photography enthusiast, mostly inspired by wilderness landscapes and street photography genres. I do realize that those two photographic choices sit at the opposite end of the spectrum, with landscape photography being slow, calibrated and an artistic pursuit and street photography being more of a snapshot style and impromptu activity focusing less on the aesthetics of the frame and more on the story behind as observed in documentary pursuits.</p>
<p>Recently, although I am not the principal artist behind this one, I have started supporting my wife's YouTube channel, <a href="https://www.youtube.com/theartzombie">The Art Zombie</a>, that features timelapsed drawing videos. Now these really are wonderful drawings in my opinion and I wish I could be that good.</p> 
