---
layout: page
title: Blog
---
{% from "postItem.njk" import postItem %}

{% set postList = collections.posts %}
{% if collections.posts.length %}
  <section>
    <ol class="PostList" reversed>
      {% for item in postList | reverse %}
        {{ postItem(item.url, item.data.title, item.date) }}
      {% endfor %}
    </ol>
  </section>
{% endif %}
